meta:
  name: 权限
  description: 精细到群组和用户的权限管理插件
  help:
    - 群管理员可以对单个权限进行限制或解除限制
    - 任意个人可以对自己的权限进行限制，使 bot 不再对自己的对应触发行为作出反应
    - 以上功能都还没实现，其实暂时只能在后台手动调整，画个大饼。
  commands:
    - /perm.ban [权限/插件名]
    - /perm.unban [权限/插件名]
    - /perm.ban [qq] [权限/插件名]
    - /perm.unban [qq] [权限/插件名]
    - /perm.ban_group [权限/插件名]
    - /perm.unban_group [权限/插件名]
    - /perm.list
config: {}